<ion-modal-view id="request-account-termination-modal" class="common-modal">
  <ion-content class="request-account-termination-content">
    <div class="wrapper-80">
      <section class="message-section">

        <div class="row zero row-header">
          <div class="col-60 flex col-header">
            <p class="zero header-text">
            {{'INFO' | translate}}
            </p>
          </div>
          <div class="col-20 flex col-cross"
            ng-click="Main.terminationModal.hide()"
          >
            <i class="cross-icon ion-ios-close-empty"></i>
          </div>
        </div>
        <div class="request-content">
          <p class="zero auto content-text center pre">
          {{'REQUEST_ACCOUNT_TERMINATION_TEXT' | translate}}
            <span class="small yellow">*{{'THREE_DAYS_TO_TERMINATE_TEXT' | translate}}</span>
          </p>
          <div class="row zero row-button flex">
            <div class="col-80 col-button radius"
              ng-click="Main.terminationModal.hide()"
            >
              <p class="zero button-text center">
              {{'REQUEST_TERMINATION' | translate}}
              </p>
            </div>
          </div>
        </div>

      </section>
    </div>
  </ion-content>
</ion-modal-view>
