<ion-view id="product-register"
    cache-view="true"
    hide-back-button="true"
>
<!--   <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-android-arrow-back"
      ng-click="goBack()"
    >
    </button>
  </ion-nav-buttons>
 -->
<!--   <ion-nav-title>
    <p class="zero">
      <span ng-if="getParam('category') === 'user'">받은견적</span>
      <span ng-if="getParam('category') === 'pawnShop' &&
        getParam('method') === 'create'">상품등록</span>
      <span ng-if="getParam('category') === 'pawnShop' &&
        getParam('method') === 'update'">상품수정</span>
    </p>
  </ion-nav-title>
 -->
  <ion-header-bar class="zero bar-subheader"
    ng-if="getParam('category') === 'pawnShop' && getParam('method') === 'update'"
  >
    <div class="row zero h44px stable-bg shadow">
      <div class="col zero flex"
        nav-direction="forward"
        ng-class="{'tab-selected': getParam('step') === 1}"
        ng-click="goToState('main.productRegister.step1', {
          category: 'pawnShop',
          method: 'update',
          step: 1
        })"
      >
        <p class="zero positive f18px center bold">
          제품정보입력
        </p>
      </div>
      <div class="col zero flex"
        nav-direction="forward"
        ng-class="{'tab-selected': getParam('step') === 2}"
        ng-click="goToState('main.productRegister.step2', {
          category: 'pawnShop',
          method: 'update',
          step: 2
        })"
      >
        <p class="zero positive f18px center bold">
          사진등록
        </p>
      </div>
    </div>
  </ion-header-bar>

  <ion-nav-view name="productRegister">
  </ion-nav-view>

  <ion-footer-bar class="bar-positive footer zero">
    <div class="row zero flex h44px"
      ng-if="getParam('step') === 1 && getParam('method') === 'create'"
      ng-click="getParam('category') === 'user' ?
        ProductRegister.stepOneModal.show() :
        ProductRegister.setStepOne()"
    >
      <p class="zero center stable f16px bold">
        다음 단계로 <span class="f22px"> > </span>
      </p>
    </div>

    <div class="row zero flex h44px"
      ng-if="getParam('step') === 2 && getParam('method') === 'create'"
      ng-click=" getParam('category') === 'user' ?
       ProductRegister.stepTwoModal.show() :
       ProductRegister.sendForm() "
    >
      <p class="zero center stable f16px bold">
        완료
      </p>
    </div>

    <div class="row zero flex h44px"
      ng-if="getParam('method') === 'update' && getParam('category') === 'pawnShop'"
      ng-click=""
    >
      <p class="zero center stable f16px bold">
        수정 완료
      </p>
    </div>

  </ion-footer-bar>

 </ion-view>
