<ion-view id="my-product-list-pawnShop"
  cache-view="true"
  hide-back-button="false"
>
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-android-arrow-back"
      ng-click="goToState('main.productList.market', {category: 'market'})"
    >
    </button>
  </ion-nav-buttons>

  <ion-nav-title>
    <p class="zero">
      물품내역
    </p>
  </ion-nav-title>

  <ion-content class="pt5px pb20px">
    <ion-refresher
      on-refresh="MyProductListPawnShop.refreshProducts()"
    >
    </ion-refresher>


      <!-- ng-click="goToState('main.productRegister.step1', {category: 'pawnShop', method: 'update', step: 1, id: product.id})" -->
    <div class="zero"
      ng-click="MyProductListPawnShop.preloadToProductUpdateInfo(product)"
      collection-repeat="product in MyProductListPawnShop.Model.products"
      item-width="100%"
      item-height="125"
      item-render-buffer="20"
    >
      <div class="row zero w95p auto radius stable-bg shadow">
        <div class="col-40">
          <img class="w100p h120px block"
            ng-src="{{product.photos[0].url | cloudinary200}}"
          >
        </div>
        <div class="col zero pl5px">
          <p class="zero positive bold f18px text-overflow mt5px">
            {{ product.name }}
          </p>
          <div class="row zero flex-v mt5px">
            <p class="col-25 zero f16px dark-grey">
              금액
            </p>
            <p class="zero f16px ml5px">
              <span class="red">{{ product.price | number }}</span> 원
            </p>
          </div>
          <div class="row zero flex-v mt5px">
            <p class="col-25 zero f16px dark-grey">
              등록일
            </p>
            <p class="zero f16px ml5px text-overflow">
              {{product.createdAt | date: 'yyyy.MM.dd'}}
            </p>
          </div>
          <button class="button-icon stable flex w110px positive-bg mt10px pt5px pb5px radius"
            ng-click="MyProductListPawnShop.showChangeStateModal(product); $event.stopPropagation();"
          >
            <i class="ion-trash-b f18px"></i>
            <p class="zero ml5px f16px">
              상태변경
            </p>
          </button>
        </div>
      </div>
    </div>

    <ion-infinite-scroll
      on-infinite="MyProductListPawnShop.getOlderProducts()"
      immediate-check="false"
      ng-if="MyProductListPawnShop.Model.more"
    >
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
