<ion-view id="product-detail"
  cache-view="true"
  hide-back-button="true"
>
  <ion-nav-view name="productDetail">
  </ion-nav-view>
<!--
    <ion-footer-bar class="bar-positive footer zero">
      <div class="row zero">
        <div class="col zero stable-br flex"
          ng-click=""
        >
          <i class="ion-ios-telephone f28px stable"></i>
          <p class="zero stable f20px bold ml10px">
            전화하기
          </p>
        </div>
        <div class="col zero flex"
          ng-click=""
        >
          <p class="zero stable f20px bold ml10px">
            업체정보
          </p>
        </div>
      </div>
    </ion-footer-bar>
 -->
</ion-view>
