<ion-modal-view id="before-before-register-modal">

  <ion-header-bar class="bar bar-positive"
      align-title="center"
  >
    <h1 class="title">
      견적요청하기
    </h1>
  </ion-header-bar>

  <ion-content class="light-grey-bg">
    <div class="row zero wrap p1 light-grey-bg">

      <section id="smartphone" class="col-58 flex-v com-column"
        ng-click="ProductList.hideBeforeBefore()"
      >
        <div>
          <p class="zero com-column__text--heading">
            {{'SMARTPHONE_TABLET' | translate}}
          </p>
          <p class="zero com-column__text--summary">
            Smartphone/tablet PC
          </p>
        </div>
        <div class="col-auto flex align-right">
          <img class="img--long" src="img/cate_phone.png" alt="phone">
        </div>
      </section>

      <section class="col-38 flex-v com-column"
        ng-click="ProductList.hideBeforeBefore()"
      >
        <div>
          <p class="zero com-column__text--heading">
          {{'CAMERA' | translate}}
          </p>
          <p class="zero com-column__text--summary">
            Camera
          </p>
        </div>
        <div class="col-auto flex align-right">
          <img class="img--short" src="img/cate_camera.png" alt="camera">
        </div>
      </section>

      <section class="col-38 flex-v com-column"
        ng-click="ProductList.hideBeforeBefore()"
      >
        <div>
          <p class="zero com-column__text--heading">
          {{'JEWELRY' | translate}}
          </p>
          <p class="zero com-column__text--summary">
            Jewelry
          </p>
        </div>
        <div class="col-auto flex align-right">
          <img class="img--long" src="img/cate_jewelry.png" alt="jewelry">
        </div>
      </section>

      <section class="col-58 flex-v com-column"
        ng-click="ProductList.hideBeforeBefore()"
      >
        <div>
          <p class="zero com-column__text--heading">
            {{'LAPTOP_DESKTOP' | translate}}
          </p>
          <p class="zero com-column__text--summary">
            Laptop/desktop
          </p>
        </div>
        <div class="col-auto flex align-right">
          <img class="img--short" src="img/cate_laptop.png" alt="laptop">
        </div>
      </section>

      <section class="col-58 flex-v com-column"
        ng-click="ProductList.hideBeforeBefore()"
      >
        <div>
          <p class="zero com-column__text--heading">
            {{'SPORTS_LEISURE' | translate}}
          </p>
          <p class="zero com-column__text--summary">
            Sports/Leisure
          </p>
        </div>
        <div class="col-auto flex align-right">
          <img class="img--short" src="img/cate_sport.png" alt="sport">
        </div>
        
      </section>

      <section class="col-38 flex-v com-column"
        ng-click="ProductList.hideBeforeBefore()"
      >
        <div>
          <p class="zero com-column__text--heading">
          {{'WATCH' | translate}}
          </p>
          <p class="zero com-column__text--summary">
            Watch
          </p>
        </div>
        <div class="col-auto flex align-right">
          <img class="img--long" src="img/cate_watch.png" alt="watch">
        </div>
      </section>

      <section class="col-38 flex-v com-column"
        ng-click="ProductList.hideBeforeBefore()"
      >
        <div>
          <p class="zero com-column__text--heading">
          {{'BAG' | translate}}
          </p>
          <p class="zero com-column__text--summary">
            Bag
          </p>
        </div>
        <div class="col-auto flex align-right">
          <img class="img--long" src="img/cate_bag.png" alt="watch">
        </div>
      </section>

      <section class="col-58 flex-v com-column"
        ng-click="ProductList.hideBeforeBefore()"
      >
        <div>
          <p class="zero com-column__text--heading">
          {{'CAR_MOTORCYCLE' | translate}}
          </p>
          <p class="zero com-column__text--summary">
            Car/Motorcycle
          </p>
        </div>
        <div class="col-auto flex align-right">
          <img class="img--short" src="img/cate_car.png" alt="car">
        </div>
      </section>

      <section class="col-58 flex-v com-column"
        ng-click="ProductList.hideBeforeBefore()"
      >
        <div>
          <p class="zero com-column__text--heading">
          {{'INSTRUMENT' | translate}}
          </p>
          <p class="zero com-column__text--summary">
            Instrument
          </p>
        </div>
        <div class="col-auto flex align-right">
          <img class="img--long" src="img/cate_instrument.png" alt="instrument">
        </div>
      </section>

      <section class="col-38 flex-v com-column"
        ng-click="ProductList.hideBeforeBefore()"
      >
        <div>
          <p class="zero com-column__text--heading">
          {{'ETC' | translate}}
          </p>
          <p class="zero com-column__text--summary">
            Etc.
          </p>
        </div>
        <div class="col-auto flex align-right">
          <img class="img--long" src="img/cate_ect.png" alt="etc">
        </div>
        
      </section>

    </div>

  </ion-content>
</ion-modal-view>
