<ion-modal-view class="transparent-bg">
  <ion-content class="darker-bg70">
    <div class="auto w90p radius mt150px">
      <p class="zero pt50px pb50px center stable-bg f18px radius-top dark-grey pre"> 제품정보를 자세히 입력해야
        정확한 견적을 받을 수 있습니다.
        다음 단계로 넘어 가시겠습니까?
      </p>
      <div class="row zero positive-bg mt0px radius-bottom">
        <div class="col zero"
          ng-click="ProductRegister.setStepOne();"
        >
          <p class="zero center pt15px pb15px stable f18px">
            확인
          </p>
        </div>
        <div class="col zero">
          <p class="zero center pt15px pb15px stable f18px stable-bl"
            ng-click="ProductRegister.stepOneModal.hide();"
          >
            취소
          </p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
