<ion-view id="bid-detail-pawnShop-pending"
    cache-view="true"
    hide-back-button="true"
>
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-android-arrow-back"
      ng-click="goBack()"
    >
    </button>
  </ion-nav-buttons>

  <ion-nav-title>
    <p class="zero">
      {{'SEND_BID' | translate}}
    </p>
  </ion-nav-title>


  <ion-content class="bid-detail-content pt2px">

    <ion-slide-box
      show-pager="true"
    >
      <ion-slide
        ng-repeat="productPhoto in BidDetailPawnShopPending.Model.bid.photos"
      >
        <img class="app-slide-image"
          ng-src="{{productPhoto.url | cloudinary400}}"
        >
      </ion-slide>
    </ion-slide-box>

    <p class="zero f18px pl5p mt10px mb10px">
      {{ BidDetailPawnShopPending.Model.bid.name }}
    </p>

    <div class="row zero w90p auto mb7px mt0px">
      <div class="col-30">
        <p class="zero dark-grey f16px">
        {{'BID_REQUESTED_BY' | translate}}
        </p>
      </div>
      <div class="col zero">
        <p class="zero f16px">
          {{ BidDetailPawnShopPending.Model.bid.createdBy.nickname || BidDetailPawnShopPending.Model.bid.createdBy.name }}
        </p>
      </div>
    </div>

    <div class="row zero w90p auto mb7px mt0px">
      <div class="col-30">
        <p class="zero dark-grey f16px">
        {{'BID_REQUESTED_AT' | translate}}
        </p>
      </div>
      <div class="col zero">
        <p class="zero f16px">
          {{ BidDetailPawnShopPending.Model.bid.createdAt | date: 'yyyy.MM.dd' }}
        </p>
      </div>
    </div>
    <div class="row zero w90p auto mb7px mt0px">
      <div class="col-30">
        <p class="zero dark-grey f16px">
        {{'BRAND' | translate}}
        </p>
      </div>
      <div class="col zero">
        <p class="zero f16px">
          {{ BidDetailPawnShopPending.Model.bid.brand }}
        </p>
      </div>
    </div>
    <div class="row zero w90p auto mb7px mt0px">
      <div class="col-30">
        <p class="zero dark-grey f16px">
        {{'BOUGHT_AT' | translate}}
        </p>
      </div>
      <div class="col zero">
        <p class="zero f16px">
          {{ BidDetailPawnShopPending.Model.bid.boughtAt }}
        </p>
      </div>
    </div>

    <div class="row zero w90p auto mb17px mt0px">
      <div class="col-30">
        <p class="zero dark-grey f16px">
        {{'CONDITION' | translate}}
        </p>
      </div>
      <div class="col zero">
        <p class="zero f16px">
          {{ BidDetailPawnShopPending.Model.bid.condition | appText }}
        </p>
      </div>
    </div>

    <div class="bid-detail light-grey-bg pt15px pl5p pr5p pb40px">
      <p class="zero f16px mb15px dark-grey center">
      {{'WRITE_BID_TO_SEND' | translate}}
      </p>
      <div class="positive-b pt15px stable-bg pb15px">
        <p class="zero f20px mb15px positive center bold">
        {{'QUOTE' | translate}}
        </p>

        <div class="row zero flex-v grey-b mb5px mt0px w90p auto pl5p pr5p">
          <div class="col-25 pt8px pb8px">
            <p class="zero positive f18px">
            {{'PRICE' | translate}}
            </p>
          </div>
          <div class="col zero ml5p">
            <input class="f18px h34px right"
              type="number"
              ng-model="BidDetailPawnShopPending.Model.form.price"
            >
          </div>
          <p class="zero f18px pl2px">
            원
          </p>
        </div>

        <div class="row zero flex-v grey-b mb5px mt0px w90p auto pl5p pr5p">
          <div class="col-25 pt8px pb8px">
            <p class="zero positive f18px">
            {{'MONTHLY_INTEREST' | translate}}
            </p>
          </div>
          <div class="col zero ml5p">
            <input class="f18px h34px right"
              type="number"
              ng-model="BidDetailPawnShopPending.Model.form.monthlyInterest"
            >
          </div>
          <p class="zero f18px pl2px">
            %
          </p>
        </div>

        <div class="row zero flex-v grey-b mb5px mt0px w90p auto pl5p pr5p">
          <div class="col-25 pt8px pb8px">
            <p class="zero positive f18px">
            {{'DURATION' | translate}}
            </p>
          </div>
          <div class="col zero ml5p">
            <input class="f18px h34px right"
              type="number"
              ng-model="BidDetailPawnShopPending.Model.form.duration"
            >
          </div>
          <p class="zero f18px pl2px">
          {{'MONTHS' | translate}}
          </p>
        </div>

        <div class="zero grey-b mb5px mt0px w90p auto pl5p pr5p">
          <div class="col-auto pt8px pb8px">
            <p class="zero positive f18px">
            {{'CAN_PICKUP' | translate}}
            </p>
          </div>

          <div class="row zero">

            <button class="col button-icon zero flex-v"
              ng-click="BidDetailPawnShopPending.Model.form.canPickUp = true"
            >
              <div class="r50p w20px h20px dark-grey-b flex">
                <div class="w16px h16px r50p"
                  ng-class="{
                    'dark-grey-bg': BidDetailPawnShopPending.Model.form.canPickUp === true
                  }"
                ></div>
              </div>
              <p class="zero f16px ml5px">
                {{ 'PICKUP_OK' | translate }}
              </p>
            </button>

            <button class="col button-icon zero flex-v"
              ng-click="BidDetailPawnShopPending.Model.form.canPickUp = false"
            >
              <div class="r50p w20px h20px dark-grey-b flex">
                <div class="w16px h16px r50p"
                  ng-class="{
                    'dark-grey-bg': BidDetailPawnShopPending.Model.form.canPickUp === false
                  }"
                ></div>
              </div>
              <p class="zero f16px ml5px">
                {{ 'PICKUP_NO' | translate }}
              </p>
            </button>

          </div>

          <div class="col zero pt8px pb8px">
          </div>

        </div>

      </div>
    </div>
  </ion-content>

  <ion-footer-bar class="bar-positive footer zero">
      <div class="row zero h44px flex"
        ng-click="BidDetailPawnShopPending.updateBid();"
      >
        <img class="w26px"
          src="img/seller_icon01.png"
        >
        <p class="zero f18px bold ml10px">
        {{'SEND_BID' | translate}}
        </p>
      </div>
  </ion-footer-bar>


</ion-view>
