//====================================================
//  Touched
//====================================================
.platform-ios, .platform-android {
  .activated {
      opacity: 0.7 !important;
  }
}

.tab-selected {
  @extend .positive-bb3px;
  @extend .pt3px
}

.dark-grey-selected {
  @extend .dark-grey-bg;
}

.loading {
  & > .scroll {
    height: 100%;
  }
}

.terms-agreed {
  .check-box{
    background-color: $positive !important;
  }
}
