<ion-view id="bid-detail-pawnShop-responded"
    cache-view="true"
    hide-back-button="true"
>
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-android-arrow-back"
      ng-click="goBack()"
    >
    </button>
  </ion-nav-buttons>

  <ion-nav-title>
    <p class="zero">
      보낸 견적
    </p>
  </ion-nav-title>


  <ion-content class="pt2px">

    <ion-refresher
      on-refresh="BidDetailPawnShopResponded.getBid()"
    >
    </ion-refresher>

    <ion-slide-box
      show-pager="true"
    >
      <ion-slide
        ng-repeat="productPhoto in BidDetailPawnShopResponded.Model.bid.photos"
      >
        <img class="app-slide-image"
          ng-src="{{productPhoto.url | cloudinary400}}"
        >
      </ion-slide>
    </ion-slide-box>

    <p class="zero f18px pl5p mt10px mb10px">
      {{ BidDetailPawnShopResponded.Model.bid.name }}
    </p>

    <div class="row zero w90p auto mb7px mt0px">
      <div class="col-30">
        <p class="zero dark-grey f16px">
          견적 요청자
        </p>
      </div>
      <div class="col zero">
        <p class="zero f16px">
          {{ BidDetailPawnShopResponded.Model.bid.createdBy.nickname || BidDetailPawnShopResponded.Model.bid.createdBy.name}}
        </p>
      </div>
    </div>

    <div class="row zero w90p auto mb7px mt0px">
      <div class="col-30">
        <p class="zero dark-grey f16px">
          견적 요청일
        </p>
      </div>
      <div class="col zero">
        <p class="zero f16px">
          {{ BidDetailPawnShopResponded.Model.bid.createdAt | date: 'yyyy.MM.dd'}}
        </p>
      </div>
    </div>
    <div class="row zero w90p auto mb7px mt0px">
      <div class="col-30">
        <p class="zero dark-grey f16px">
          브랜드
        </p>
      </div>
      <div class="col zero">
        <p class="zero f16px">
          {{ BidDetailPawnShopResponded.Model.bid.brand }}
        </p>
      </div>
    </div>
    <div class="row zero w90p auto mb7px mt0px">
      <div class="col-30">
        <p class="zero dark-grey f16px">
          구입시기
        </p>
      </div>
      <div class="col zero">
        <p class="zero f16px">
          {{ BidDetailPawnShopResponded.Model.bid.boughtAt }}
        </p>
      </div>
    </div>

    <div class="row zero w90p auto mb17px mt0px">
      <div class="col-30">
        <p class="zero dark-grey f16px">
          상태
        </p>
      </div>
      <div class="col zero">
        <p class="zero f16px">
          {{ BidDetailPawnShopResponded.Model.bid.condition | appText}}
        </p>
      </div>
    </div>

    <div class="light-grey-bg pt15px pl5p pr5p pb40px">
      <p class="zero f16px mb15px dark-grey center">
        보넨 견적 내역입니다
      </p>
      <div class="positive-b pt15px stable-bg pb15px">
        <p class="zero f20px mb15px positive center bold">
          견적서
        </p>

        <div class="row zero grey-b mb5px mt0px w90p auto pl5p pr5p">
          <div class="col-auto pt8px pb8px">
            <p class="zero positive f18px">
              금액
            </p>
          </div>
          <div class="col zero pt8px pb8px">
            <p class="zero f18px right">
              <span class="red">{{BidDetailPawnShopResponded.Model.bid.price | number}}</span> 원
            </p>
          </div>
        </div>

        <div class="row zero grey-b mb5px mt0px w90p auto pl5p pr5p">
          <div class="col-auto pt8px pb8px">
            <p class="zero positive f18px">
              월이율
            </p>
          </div>
          <div class="col zero pt8px pb8px">
            <p class="zero f18px right">
              {{BidDetailPawnShopResponded.Model.bid.monthlyInterest}} %
            </p>
          </div>
        </div>

        <div class="row zero grey-b mb5px mt0px w90p auto pl5p pr5p">
          <div class="col-auto pt8px pb8px">
            <p class="zero positive f18px">
              기간
            </p>
          </div>
          <div class="col zero pt8px pb8px">
            <p class="zero f18px right">
              {{BidDetailPawnShopResponded.Model.bid.duration}} 개월
            </p>
          </div>
        </div>

        <div class="row zero grey-b mb5px mt0px w90p auto pl5p pr5p">
          <div class="col-auto pt8px pb8px">
            <p class="zero positive f18px">
              출장서비스 유무
            </p>
          </div>
          <div class="col zero pt8px pb8px">
            <p class="zero f18px right">
              {{BidDetailPawnShopResponded.Model.bid.canPickUp ? '출장가능' : '출장불가능'}}
            </p>
          </div>
        </div>

      </div>
    </div>
  </ion-content>
</ion-view>
